.DS_Store
.idea
.build

# ignore the lock file
website/package-lock.json

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan

terraform-apply.log

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Locals
kubeconfig*
kube-config*
local_tf_state/
.vscode
.gitallowed
site
.env*

# Checks
.tfsec

# venv
**/.venv/*
ai-ml/trainium-inferentia/examples/gradio-ui/gradio_cached_examples/*
ai-ml/trainium-inferentia/examples/gradio-ui/test.py
ai-ml/trainium-inferentia/examples/gradio-ui/__pycache__/fast_api_llm.cpython-311.pyc
ai-ml/trainium-inferentia/examples/gradio-ui/__pycache__/load_files.cpython-311.pyc
ai-ml/trainium-inferentia/examples/gradio-ui/faiss/index.faiss
ai-ml/trainium-inferentia/examples/gradio-ui/faiss/index.pkl
ai-ml/trainium-inferentia/examples/gradio-ui/scratch.py
ai-ml/trainium-inferentia/examples/gradio-ui/scratch.txt
